{% extends 'shop/base.html' %}

{%block content%}
Працюючи на ринку більше 5-ти років ми виконуємо стильні та сучасні
композиції квітів різної тематики, побажань та індивідуальних замовлень.
Працівники нашої компанії гарантують якість квітів, зберігаючи їх у спеціальних кімнатах прохолоди, а
дизайнери з оздоблення букетів чітко виконують замовлення у визначені терміни.

Ви маєте можливість замовити готовий букет, переглянувши його на фото з усіх сторін
та бути певними у відмінному його вигляді у реаліях.

Пропонуємо ряд цікавих акцій та оригінальних додатків до обраних Вами композицій,
що зробить Ваше привітання особливим та залишиться у памяті надовго.
{%endblock%}